.match {

  &__player-avatar {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__previous {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 40rem) {
  .match {

    &__previous {
      width: 60%;
      display: inline-block;
    }
  }
}
